.contactList{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
}
.item{
    background-color: #F2ECFF;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 5px;
    border-radius: 5px;
}
.item button{
    outline: none;
    cursor: pointer;
    color: red;
    border: solid 1px red;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.item img{
    width: 25px;
    height: 25px;
    margin-right: 7px;
}